@use 'variables' as *;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/inter-v3-latin-600.woff2') format('woff2')
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  background-color: $color-canvas;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 80vh;
}

a {
  color: inherit;
}

button {
  background-color: $color-secondary;
  border: none;
  border-radius: 8px;
  color: $color-tertiary;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  text-align: center;
  width: auto;

  &:hover {
    opacity: 0.95;
   }
}
